# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\javase\常用类\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
